<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4GOIXrb2JGBx7v_QicX_8N49spbEPNb4</string>
	<key>GCM_SENDER_ID</key>
	<string>607600253943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jp.optim.subscriptionManager</string>
	<key>PROJECT_ID</key>
	<string>subscription-manager-gori</string>
	<key>STORAGE_BUCKET</key>
	<string>subscription-manager-gori.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607600253943:ios:472cc85d6471aca9ac6cf2</string>
</dict>
</plist>